<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="modularPowerShell" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <applicationSettings>
    <modularPowerShell>
      <setting name="MaxRunspaces" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MinRunspaces" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LogOutputErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OutputBlanksOnError" serializeAs="String">
        <value>True</value>
      </setting>
    </modularPowerShell>
    <quartz>
      <add key="quartz.scheduler.instanceName" value="ModularInputsQuartzScheduler"/>
      <!-- Configure ThreadPool -->
      <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
      <add key="quartz.threadPool.threadCount" value="10"/>
      <add key="quartz.threadPool.threadPriority" value="2"/>
      <!-- Configure JobStore -->
      <add key="quartz.jobStore.misfireThreshold" value="60000"/>
      <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
    </quartz>
  </applicationSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!-- ${environment:variable=SPLUNK_HOME} -->
      <target name="debug" xsi:type="File" layout="${level} ${date:universalTime=true:format=O} ${message}" archiveFileName="${basedir}/var/log/splunk/mi_powershell.log.{#}" maxArchiveFiles="6" archiveAboveSize="10240" archiveNumbering="Rolling" fileName="${environment:variable=SPLUNK_HOME}/var/log/splunk/powershell.log"/>
      <target name="output" xsi:type="Console" layout="${message}"/>
    </targets>
    <rules>
      <logger name="debug" minlevel="Debug" writeTo="debug"/>
      <logger name="output" writeTo="output"/>
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib/net45"/>
      <probing privatePath="lib/net35"/>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
