<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!-- Up to 6, total 25GB (26843545600) rolling log files in the SPLUNK_HOME/var/log/splunk folder -->
      <target name="debug" 
              archiveFileName="${environment:variable=SPLUNK_HOME}/var/log/splunk/powershell2.log.{#}"
              fileName="${environment:variable=SPLUNK_HOME}/var/log/splunk/powershell2.log"
              xdt:Transform="SetAttributes(archiveFileName,fileName)" xdt:Locator="Match(name)"/>
    </targets>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib/net35" xdt:Transform="Replace"/>
    </assemblyBinding>
  </runtime>
</configuration>